html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: beige;
}

header {
  background-color: lightblue;
  text-align: center;
  font-size: large;
}

footer {
  background-color: blanchedalmond;
  text-align: center;
}